.a{
  width: 30%;
  height: 200px;
  background-color: red;
  float: left;
}
.b{
  width: 30%;
  height: 200px;
  background-color: blue;
  float: left;
}
.c{
  width: 30%;
  height: 200px;
  background-color: green;
  float: left;
}
